.btn {
  --btn-padding: calc(var(--base-padding) * 1.25);
  --icon-bg-opacity: 0.25;
  background-color: transparent;
  border: none;
  padding: var(--btn-padding);
  border-radius: 50%;
  background-color: hsl(var(--btn-icon-bg) / var(--icon-bg-opacity));
  transition: background-color 500ms ease;

  & img {
    inline-size: 1.4rem;
    aspect-ratio: 1;

    &[alt="edit icon"] {
      inline-size: 1.15rem;
    }

    &[alt="plus icon"] {
      inline-size: 1.8rem;
    }

    &[data-mode-icon] {
      inline-size: 1.75rem;
    }
  }

  &:hover {
    cursor: pointer;
    --icon-bg-opacity: 1;
  }
}

.add-btn {
  --btn-padding: var(--base-padding);
  border-radius: 0;
}

.edit-btn {
  --btn-padding: calc(var(--base-padding) * 1.5);
  margin-right: calc(var(--base-margin) * 0.75);

  & img[src$="edit.svg"] {
    inline-size: 1rem;
  }
}

.update-btn {
  display: none;
}
