@font-face {
  src: url(../../public/fonts/Epilogue.woff2) format("woff2");
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400 900;
}
@font-face {
  src: url(../../public/fonts/BriemHand.ttf);
  font-family: "Briem Hand";
  font-style: normal;
  font-weight: 900;
}
